/* COMMON */
/* 공통적으로 영향을 미치는 선택자와 css요소들을 COMMON으로 깔끔하게 정리해두면 좋다. */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  /* 사용하는 글꼴에 따라 최적의 높이는 다르게 나타날 수 있다. */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}

/* HEADER */
header {
  background-color: royalblue;
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  /* 외부여백 : 위아래는 0, 좌우는 자동이 되면서 가운데 정렬이 된다. */
  background-color: orange;
  position: relative;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
